%h2 Instant Plugin
%ul.plugins
  - settings.instant_plugins.each do |plugin, path|
    %li
      = plugin
      %br
      (#{path})
      %form{:action => "/admin/plugins/instant_plugin/#{plugin}"}
        %input{:type => 'hidden', :name => '_method', :value => 'delete'}
        %input{:type => 'submit', :value => 'remove (not implemented)'}
%form{:action => '/admin/plugins/instant_plugin', :method => 'post'}
  .field
    %label{:for => 'plugin_path'} Plugin Path
    (current: #{Dir.pwd})
    %br
    %input{:type => 'text', :id => 'plugin_path', :name => 'plugin_path'}
  .field
    %input{:type => 'submit', :value => 'register'}

%ul.git_themes
  - settings.git_themes.each do |theme_name, theme|
    %li
      = theme_name
      %br
      (#{theme.git})
      - if theme.screenshot
        .screenshot
          %img{:src => theme.screenshot, :width => 240, :height => 170}
      - else
        .screenshot
          %span no screenshot
      -#%form{:action => "/admin/plugins/instant_plugin/#{plugin}"}
      -#  %input{:type => 'hidden', :name => '_method', :value => 'delete'}
      -#  %input{:type => 'submit', :value => 'remove (not implemented)'}
%form{:action => '/admin/plugins/instant_plugin/themes', :method => 'post'}
  .field
    %label{:for => 'theme_url'} Theme Git URL
    (e.g. git://github.com/tkawa/lokkatheme-p0t.git)
    %br
    %input{:type => 'text', :id => 'theme_url', :name => 'theme_url'}
  .field
    %input{:type => 'submit', :value => 'register'}

-#%form{:action => '/admin/plugins/instant_plugin/add_route', :method => 'post'}
-#  .field
-#    %label{:for => 'path'} Add Pathname
-#    %br
-#    %input{:type => 'text', :id => 'path', :name => 'path'}
-#  .field
-#    %input{:type => 'submit', :value => 'register'}
%textarea
  -#= settings.routes['GET'].map(&:first)
  = settings.templates
